<?xml version="1.0"?>
<config>
	<modules>
		<Excellence_Customenu>
			<version>0.1.4</version>
		</Excellence_Customenu>
	</modules>
	<frontend>
		<routers>
			<customenu>
				<use>standard</use>
				<args>
					<module>Excellence_Customenu</module>
					<frontName>customenu</frontName>
				</args>
			</customenu>
		</routers>
		<layout>
            <updates>
                <customenu>
                    <file>customenu.xml</file>
                </customenu>
            </updates>
        </layout>
	</frontend>
	<admin>
		<routers>
			<customenu>
				<use>admin</use>
				<args>
					<module>Excellence_Customenu</module>
					<frontName>customenu</frontName>
				</args>
			</customenu>
		</routers>
	</admin>
	<global>
		<models>
			<customenu>
				<class>Excellence_Customenu_Model</class>
				<resourceModel>customenu_mysql4</resourceModel>
			</customenu>
			<customenu_mysql4>
				<class>Excellence_Customenu_Model_Mysql4</class>
				<entities>
					<customenu>
						<table>customenu</table>
					</customenu>
				</entities>
			</customenu_mysql4>
		</models>
		<resources>
			<customenu_setup>
				<setup>
					<module>Excellence_Customenu</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</customenu_setup>
			<customenu_write>
				<connection>
					<use>core_write</use>
				</connection>
			</customenu_write>
			<customenu_read>
				<connection>
					<use>core_read</use>
				</connection>
			</customenu_read>
		</resources>
		<blocks>
			<customenu>
				<class>Excellence_Customenu_Block</class>
			</customenu>
		</blocks>
		<helpers>
			<customenu>
				<class>Excellence_Customenu_Helper</class>
			</customenu>
		</helpers>
	</global>
</config>